<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Profile Page</title>

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="css/landing-page.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<title></title>
</head>
<body>
	<div id="createUserSection">
		<h1 class="centered">Create Account</h1>
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<form action="/createaccount", method="POST">
						<label for="username" class="col-2 col-form-label"><h5>Username</h5></label>
						<input class="form-control" type="username" value="" id="username" name="username"/>
						<label for="email" class="col-2 col-form-label"><h5>Email</h5></label>
						<input class="form-control" type="email" value="" id="email" name="email"/>
						<label for="password" class="col-2 col-form-label"><h5>Password</h5></label>
						<input class="form-control" type="password" value="" id="password" name="password"/>
						<label for="password2" class="col-2 col-form-label"><h5>Re-enter Password</h5></label>
						<input class="form-control" type="password" value="" id="password2" name="password2"/>
						<br>

						<button type="submit" class="btn btn-default">
							Submit</span>
						</button>
					</form>
				</div>
			</div>
			<a  name="contact"></a>
			<div class="banner">

				<div class="container">

					<div class="row">
						<div class="col-lg-6">
							<h2>Check out the code:</h2>
							<a href="https://github.com/MagentaReds/project-3-srw-multiplayer" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
						</div>
						<div class="col-lg-6">
							<ul class="list-inline banner-social-buttons">
							
							</ul>
						</div>
					</div>

				</div>
				<!-- /.container -->
			</div>
		</div>
	</div>

<!-- Status Modal -->
<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Create Account Result</h4>
			</div>
			<div class="modal-body">
				<span class="message"></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>

	<script type="text/javascript" src="js/createaccount.js"></script>
</body>
</html>