#grid {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 1600px;
}

#grid li {
	border-style:dashed;
	border-width: 1px;
	color: grey;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 50px;
	height: 50px;
	font-size: 4em;
	text-align: center;
}

.ui-menu {
	width: 150px;
	position: fixed;
}
